$desktop1000: 1000px;
@mixin desktop1000 {
    @media (min-width: #{$desktop1000}) {
        @content;
    }
}

.main-container {
    margin-top: 20px;
}

// People Panel >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.panel-container {
    .people-panel {
        padding: 20px;
        margin-bottom: 20px;
        height: 500px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.2);

        .people-ellipsis {
            color: #949494;
        }
        
        .people-ellipsis:hover {
            cursor: pointer;
        }
    }

    .panel-header {
        margin: 0px;
        padding-bottom: 5px;
        color: #FC8922;
        font-size: 1.2em;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        border-bottom: 2px solid #FC8922;

        .count {
            color: #39424E;
            font-weight: 400;
            font-size: .7em;
        }
    }

    .panel-user {
        margin: 15px 0px;
        font-family: 'Open Sans', sans-serif;

        .user-pic {
            border-radius: 100px;
            margin-right: 10px;
        }
    }

    .department-supervisor {
        margin-bottom: 20px;
    }

    .department-intern {
        margin-bottom: 20px;
    }
}


// Dropdown >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.dropdown-item {
    color: #39424E;
    font-size: .8em;
    font-family: 'Open Sans', sans-serif; 
}

.dropdown-item:hover {
    background-color: rgba($color: #FD9E25, $alpha: 0.2);
}