.profile-panel {
  min-height: 400px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
  .profile-panel {
    min-height: 400px;
    padding-bottom: 10px;
  }
}

.profile-panel .profile-banner {
  height: 200px;
}

.profile-panel .profile-banner .profile-picture {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  margin-left: -105px;
  width: 210px;
  height: 210px;
  border-radius: 200px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1000px) {
  .profile-panel .profile-banner .profile-picture {
    left: auto;
    margin-left: 50px;
  }
}

.profile-panel .profile-banner .profile-info {
  position: absolute;
  margin-top: 130px;
  margin-left: 290px;
}

.profile-panel .profile-banner h1 {
  margin-bottom: 0px;
  color: white;
  font-size: 2em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.profile-panel .profile-banner p {
  margin: 0px;
  color: white;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.profile-panel .profile-information {
  text-align: center;
  margin: 70px 20px 0px 20px;
}

@media (min-width: 1000px) {
  .profile-panel .profile-information {
    margin: 70px 50px 5px 50px;
    text-align: left;
  }
}

.profile-panel .profile-information h1 {
  margin-bottom: 0px;
  color: #39424E;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.profile-panel .profile-information p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.profile-panel .profile-information .bio {
  margin-bottom: 20px;
}

.profile-panel .profile-information .about-header {
  font-size: 1em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.profile-panel .profile-information .button-desktop {
  width: 360px;
  flex-grow: 1;
}

.profile-panel .profile-information .last-p {
  margin-bottom: 20px;
}

.comment-panel {
  margin-top: 20px;
  padding: 20px 15px;
  min-height: 150px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1000px) {
  .comment-panel {
    padding: 20px 50px;
  }
}

.comment-panel h1 {
  font-size: 1em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.comment-panel .comment-picture {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.comment-panel .comment {
  margin: 20px 0px;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel .comment .link {
  color: #39424E;
}

.comment-panel .comment .comment-container {
  flex-grow: 1;
  background-color: #F6F6F6;
  padding: 10px 30px;
  border-radius: 1000px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.comment-panel .comment .actual {
  margin-right: 10px;
}

.comment-panel .comment h6 {
  margin-bottom: 0px;
  font-size: 1em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1000px) {
  .comment-panel .comment h6 {
    margin-bottom: 5px;
  }
}

.comment-panel .comment .posted {
  color: #808699;
  margin-bottom: 0px;
  font-size: 0.7em;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.comment-panel .comment p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form {
  width: 100%;
  margin-top: 20px;
}

.comment-panel form .comment-text {
  flex-grow: 1;
  margin-left: 10px;
  padding: 7px 20px;
  border-radius: 50px;
  border: 1px solid #B3B3B3;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form .comment-text::-moz-placeholder {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form .comment-text:-ms-input-placeholder {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form .comment-text::-ms-input-placeholder {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form .comment-text::placeholder {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.comment-panel form .post-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: 0px;
  border-radius: 20px;
  font-size: 0.7em;
}

.comment-panel form .submit-desktop {
  display: none;
}

@media (min-width: 1000px) {
  .comment-panel form .submit-desktop {
    display: block;
  }
}

.comment-panel form .submit-mobile {
  display: block;
}

@media (min-width: 1000px) {
  .comment-panel form .submit-mobile {
    display: none;
  }
}

.dropdown-item {
  color: #39424E;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
}

.dropdown-item:hover {
  background-color: rgba(253, 158, 37, 0.2);
}

.desktop {
  display: none;
}

@media (min-width: 1000px) {
  .desktop {
    display: block;
  }
}

.desktop-inline {
  display: none;
}

@media (min-width: 1000px) {
  .desktop-inline {
    display: inline-block;
  }
}

.mobile {
  padding-bottom: 20px;
}

@media (min-width: 1000px) {
  .mobile {
    display: none;
  }
}

.mobile .button {
  width: 90%;
  margin-bottom: 10px;
}

.banner-1 {
  background-color: #fd9e25;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d7861f' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}

.banner-2 {
  background-color: #fd9e25;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.banner-3 {
  background-color: #fd9e25;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}

.banner-4 {
  background-color: #fd9e25;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23d6861f' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

